/* Codigo Card */
.cli-download-button {
  display: inline-block;
  background: linear-gradient(to bottom, #fff, #ccc);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #2f2f2f;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-top:15px;
  margin-bottom:15px;
}

.cli-button-content {
  display: flex;
  align-items: left;
  justify-content: left;
}

.cli-button-content img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
	border-radius: 5px;
}

.cli-button-text {
  text-align: left;
}

.cli-button-text h2 {
  font-size: 20px;
  margin: 0;
}

.cli-button-text span {
  font-size: 14px;
  margin: 0;
}

.cli-download-link {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cli-download-link:hover {
  background-color: #363636;
	color: #fff;
}